.Username {
  font-size: 1.2rem;
  font-weight: 700;
  color: #8a00c2;
}

.UsernameInput {
  background: white;
  border: 1px solid #ffac00 !important;
  border-radius: 5px !important;
  color: black;
  outline: none !important;
  text-align: center;
  margin: 10px 0 10px 0;
}

.UsernameButton {
  margin: 20px 20px;
}
